<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wafersystems.virsical.map.mapper.BuildingMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.wafersystems.virsical.map.entity.Building">
    <id column="building_id" property="buildingId"/>
    <result column="tenant_id" property="tenantId"/>
    <result column="park_id" property="parkId"/>
    <result column="building_name" property="buildingName"/>
    <result column="building_token" property="buildingToken"/>
    <result column="building_img" property="buildingImg"/>
    <result column="del_flag" property="delFlag"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        building_id, tenant_id, park_id, building_name, building_token, building_img, del_flag, create_time, update_time
  </sql>

  <select id="selectBuildingPage" resultType="com.wafersystems.virsical.map.entity.Building">
    select b.*, p.park_name from building b, park p
    where b.park_id = p.park_id and b.del_flag = 0 and p.del_flag = 0
    <if test="building.parkId != null">
      and b.park_id = #{building.parkId}
    </if>
    <if test="building.buildingName != null and building.buildingName != ''">
      and b.building_name like CONCAT('%',#{building.buildingName},'%')
    </if>
    order by b.building_id desc
  </select>
</mapper>
