<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wafersystems.virsical.map.mapper.FloorMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.wafersystems.virsical.map.entity.Floor">
    <id column="floor_id" property="floorId"/>
    <result column="tenant_id" property="tenantId"/>
    <result column="building_id" property="buildingId"/>
    <result column="floor_num" property="floorNum"/>
    <result column="del_flag" property="delFlag"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        floor_id, tenant_id, building_id, floor_num, del_flag, create_time, update_time
    </sql>

  <select id="selectFloorPage" resultType="com.wafersystems.virsical.map.entity.Floor">
    select f.*, p.park_id, p.park_name, b.building_name from floor f, building b, park p
    where f.building_id = b.building_id and b.park_id = p.park_id and f.del_flag = 0 and b.del_flag = 0 and p.del_flag = 0
    <if test="floor.parkId != null">
      and p.park_id = #{floor.parkId}
    </if>
    <if test="floor.buildingId != null">
      and b.building_id = #{floor.buildingId}
    </if>
    <if test="floor.floorNum != null and floor.floorNum != ''">
      and f.floor_num like CONCAT('%',#{floor.floorNum},'%')
    </if>
    order by f.floor_id desc
  </select>

  <select id="selectFloorList" resultType="com.wafersystems.virsical.map.entity.Floor">
    select f.*, b.park_id from floor f, building b
    where f.building_id = b.building_id and f.del_flag = 0 and b.del_flag = 0
  </select>
</mapper>
