<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wafersystems.virsical.map.mapper.MapMapper">

  <!-- 通用查询结果列 -->
  <resultMap id="BaseResultMap" type="com.wafersystems.virsical.map.entity.Map">
    <id column="map_id" property="mapId"/>
    <result column="tenant_id" property="tenantId"/>
    <result column="floor_id" property="floorId"/>
    <result column="base_map_url" property="baseMapUrl"/>
    <result column="base_map_element" property="baseMapElement"/>
    <result column="view_box" property="viewBox"/>
    <result column="zoom_image_url" property="zoomImageUrl"/>
    <result column="area_age" property="areaAge"/>
    <result column="height" property="height"/>
    <result column="width" property="width"/>
    <result column="map_state" property="mapState"/>
    <result column="map_type" property="mapType"/>
    <result column="cmap_project_id" property="cmapProjectId"/>
    <result column="cmap_building_id" property="cmapBuildingId"/>
    <result column="cmap_floor_id" property="cmapFloorId"/>
    <result column="cmap_cloud_id" property="cmapCloudId"/>
    <result column="cmap_accesstoken" property="cmapAccesstoken"/>
    <result column="cmap_server" property="cmapServer"/>
    <result column="cmap_config_param" property="cmapConfigParam"/>
    <result column="del_flag" property="delFlag"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <resultMap id="SearchResultMap" type="com.wafersystems.virsical.map.model.vo.MapSearchResultVO">
    <id column="map_id" property="mapId"/>
    <result column="map_type" property="mapType"/>
    <result column="floor_id" property="floorId"/>
    <result column="map_element_id" property="mapElementId"/>
    <result column="object_id" property="objectId"/>
    <result column="object_name" property="objectName"/>
    <result column="object_color" property="objectColor"/>
    <result column="object_svg_stateCode" property="objectSvgStateCode"/>
    <result column="svg_type_code" property="svgTypeCode"/>
    <result column="object_business" property="objectBusiness"/>
  </resultMap>

  <sql id="Base_Column_List">
        map_id, tenant_id, floor_id, base_map_url, base_map_element, view_box, zoom_image_url, area_age, height, width, map_state, map_type,
        cmap_project_id, cmap_building_id, cmap_floor_id, cmap_cloud_id, cmap_accesstoken, cmap_server, cmap_config_param, del_flag, create_time, update_time
  </sql>

  <!-- 通用查询映射结果 -->
  <select id="selectMapPage" resultType="com.wafersystems.virsical.map.entity.Map">
    SELECT
    p.park_id,
    p.park_name,
    b.building_id,
    b.building_name,
    f.floor_id,
    f.floor_num,
    m.*
    FROM
    park p,
    building b,
    floor f
    LEFT JOIN map m ON m.floor_id = f.floor_id AND m.del_flag = 0
    WHERE
    p.park_id = b.park_id
    AND f.del_flag = 0
    AND b.building_id = f.building_id
    <if test="map.parkId != null">
      AND p.park_id = #{map.parkId}
    </if>
    <if test="map.buildingId != null">
      AND b.building_id = #{map.buildingId}
    </if>
    <if test="map.floorId != null">
      AND f.floor_id = #{map.floorId}
    </if>
    <if test="map.mapState != null">
      AND m.map_state = #{map.mapState}
    </if>
    ORDER BY
    p.park_id,
    b.building_id,
    f.floor_num
  </select>

  <select id="selectMapListBySpaceId" resultType="com.wafersystems.virsical.map.entity.Map">
    SELECT
    m.*
    FROM
    map AS m
    WHERE
    m.floor_id In
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    and m.del_flag=0
  </select>

  <select id="search" resultMap="SearchResultMap">
    select m.map_id, m.map_type, m.floor_id, me.map_element_id, me.object_id, me.object_name,
     me.object_color, me.object_svg_state_code, me.svg_type_code, me.object_business from map m, map_element me
     where m.map_id = me.map_id and m.del_flag = '0'
    <if test="spaceId != null">
      and m.floor_id = #{spaceId}
    </if>
    <if test="svgTypeCode != null and svgTypeCode != ''">
      and me.svg_type_code = #{svgTypeCode}
    </if>
    <if test="key != null and key != ''">
     and (me.object_id like CONCAT('%',#{key},'%') or me.object_name like CONCAT('%',#{key},'%'))
    </if>
    <if test="key == null or key == ''">
      and (me.object_id is not null and me.object_id != '')
    </if>
    order by m.floor_id
  </select>

  <!-- 地图上线 -->
  <update id="online">
    UPDATE
    map
    SET
    del_flag = '0'
    WHERE
    floor_id in
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
</mapper>
